img{
	width:600px;
	height:300px;
}

.main-top-text{
	width: 950px;
	padding: 0 15px;
	margin: 0 auto;
	color: #fff;
	font-size: 50px;
	text-align: center;
}

.main-top{
	height: 750px;
	background-size: cover;
	background-image: url("hand.jpg");
}

h2{
	font-size: 40px;
	color: #fff;
	background-color: #006699;
}

.main-katsudo h2{
	width: 400px;
}

.main-katsudo h3{
	font-size: 25px;
}

.main-katsudo-one{
	padding-left: 100px;
	background-color: #7db3aa;
	width: 930px;
}

.main-katsudo-two{
    padding-left: 100px;
	background-color: #fc9b9b;
	width: 970px;
}

.main-katsudo-three{
	padding-left: 100px;
	background-color: #759852;
	width: 850px;
}

.main-katsudo-four{
	padding-left: 100px;
	background-color: #ab9249;
	width: 860px;
}

.main-otoiawase h2{
	width: 180px;
}

.mail{
	padding-left: 100px;
	color: blue;
	font-size: 30px;
}







