header{
	height: 65px;
	background-color: #555;
}

header img{
	height: 65px;
	width: 130px;
}

@media(max-width: 1000px){
	header{
		height: px;
	}
	header img{
		height: px;
		width: px;
	}
}

@media(max-width: 670px){
	header{
		height: 100px;
	}
	header img{
		height: 100px;
		width: 200px;
	}
}

.header-left{
	text-align: left;
	float: left;
}

.header-right{
	text-align: right;
	float: left;
	font-size: 60px;
	padding: 20px 30px;
}

img{
	width:600px;
	height:300px;
}

.main-top-text{
	width: 950px;
	padding: 0 15px;
	margin: 0 auto;
	color: #fff;
	font-size: 50px;
	text-align: center;
}

.main-top{
	height: 750px;
	background-size: cover;
	background-image: url("hand.jpg");
}

h2{
	font-size: 40px;
	text-align: center;
	color: #fff;
	background-color: #006699;
	border-radius: 25px;
}

.main-katsudo h3{
	font-size: 25px;
}

.main-katsudo-one{
	padding-left: 100px;
}

.main-katsudo-two{
    padding-left: 100px;
}

.main-katsudo-three{
	padding-left: 100px;
}

.main-katsudo-four{
	padding-left: 100px;
}

.mail{
	padding-left: 100px;
	color: blue;
	font-size: 30px;
}

body{
	background-color: #b0c4de;
}


/*
現在、抜いているが、今後復帰する際に参考となるコード達

.main-aboutkizunakouryu h2{
	width: 700px;
}

.main-katsudo h2{
	width: 400px;
}

.main-otoiawase h2{
	width: 180px;
}

➀｛
background-color: #7db3aa;
	width: 930px;
	border-radius: 20px;
｝

➁｛
	background-color: #fc9b9b;
	width: 980px;
	border-radius: 20px;
｝

➂｛
	background-color: #759852;
	width: 850px;
	border-radius: 20px;
｝

➃｛
	background-color: #ab9249;
	width: 860px;
	border-radius: 20px;
｝

*/








