/*　CSSでは、HTMLで記載した内容の色付けなど、見た目の情報を記載。　*/

/*　ヘッダーの情報を記載。（すべての画素数に適応。一部パソコン幅のみに関係）　*/
header{
	height: 65px;
	background-color: #555;
	position: fixed;
	top:0px;
	z-index: 10;
}

header img{
	height: 65px;
	width: 130px;
}

.header-left{
	text-align: left;
	float: left;
	padding-right: 25px
}

.header-right{
	float: left;
}

 .header-right a{
	font-size: 25px;
	padding: 12px 10px;
}

header a{
	text-decoration: none;
	color:#fff;
}

.menu_btn{
	width: 65px;
	height: 65px;
	background: url("imgs/menu_btn.jpg") no-repeat;
	background-size: 100% 100%;
	position: fixed;
	top: 0px; right: 0px;
	z-index: 15;
}


/*　ヘッダーの情報を記載（タブレットの画素数を想定）。　*/
@media(max-width: 1000px){
	header{
		height: px;
	}
	header img{
		height: px;
		width: px;
	}
	.header-left{
		 padding-right: ;
	 }
	.header-right a{
	font-size: px;
	padding: px px px px;
	} 
}

/*　ヘッダーの情報を記載（スマートフォンの画素数を想定）。　*/
@media(max-width: 1200px){
	header{
		height: 100px;
		background-color: blue;
	}
	header img{
		height: 100px;
		width: 200px;
	}
	.header-left{
		 padding-right: 20px;
	 }
	.header-right a{
	    font-size: 20px;
		padding-top: 25px;
		padding-left: 15px;
	}
	.menu_btn{
		width: 100px;
		height: 100px;
	}
}

/*　ページを開いてトップに表示される画像部の情報を記載（すべての画素数に關係。一部パソコン幅のみに關係）。　*/
.pd{
	height: 65px;
}

.main{
	 position-top: 100px;
 }


img{
	width:600px;
	height:300px;
}

.main-top-text{
	width: 950px;
	padding: 0 15px;
	margin: 0 auto;
	color: #fff;
	font-size: 50px;
	text-align: center;
}

.main-top{
	height: 750px;
	background-size: cover;
	background-image: url("imgs/hand.jpg");
}

/*　ページを開いてトップに表示される画像部の情報を記載（タブレットの画素数を想定）。　*/
@media(max-width: px){
	.
}

/*　ページを開いてトップに表示される画像部の情報を記載（スマートフォンの画素数を想定）。　*/
@media(max-width: 1200px){
	.pd{
		height: 100px;
	}
}

/*　各内容のタイトルの情報を記載。（すべての画素数に適応）　*/
h2{
	font-size: 40px;
	text-align: center;
	color: #fff;
	background-color: #006699;
	border-radius: 25px;
}

/*　今後の活動の部分の情報を記載　*/
.kongo{
	text-align: center;
}
.kongo-pd{
	float: left;
	heiht: 850px;
}
.kizunanohi{
	float: left;
}
.kizunanohi img{
	width: 640px;
	heiht: 850px;
}



/*　活動紹介の部分の情報を記載（すべての画素数に關係。一部パソコン幅のみに關係）。　*/
.main-katsudo h3{
	font-size: 25px;
}

.main-katsudo-one{
	padding-left: 100px;
}

.main-katsudo-two{
    padding-left: 100px;
}

.main-katsudo-three{
	padding-left: 100px;
}

.main-katsudo-four{
	padding-left: 100px;
}

/*　活動紹介の部分の情報を記載（タブレットの画素数を想定）。　*/
@media(max-width: px){
	.
}

/*　活動紹介の部分の情報を記載（スマートフォンの画素数を想定）。　*/
@media(max-width: 1200px){
	.
}

/*　「お問合せ」の部分の情報を記載（すべての画素数に關係。一部パソコン幅のみに關係）。　*/
.mail{
	padding-left: 100px;
	color: blue;
	font-size: 30px;
}

/*　「お問合せ」の部分の情報を記載（タブレットの画素数を想定）。　*/
@media(max-width: px){
	.
}

/*　「お問合せ」の部分の情報を記載（スマートフォンの画素数を想定）。　*/
@media(max-width: 1200px){
	.mail{
		font-size: 20px;
	} 
}

/*　ページ全体に關係する情報を記載（すべての画素数に適応）。　*/
body{
	background-color: #b0c4de;
}


/*
現在、抜いているが、今後復帰する際に参考となるコード達

.main-aboutkizunakouryu h2{
	width: 700px;
}

.main-katsudo h2{
	width: 400px;
}

.main-otoiawase h2{
	width: 180px;
}

➀｛
background-color: #7db3aa;
	width: 930px;
	border-radius: 20px;
｝

➁｛
	background-color: #fc9b9b;
	width: 980px;
	border-radius: 20px;
｝

➂｛
	background-color: #759852;
	width: 850px;
	border-radius: 20px;
｝

➃｛
	background-color: #ab9249;
	width: 860px;
	border-radius: 20px;
｝

*/


















































