/*　CSSでは、HTMLで記載した内容の色付けなど、見た目の情報を記載。　*/

/*　ページ全体に関係する情報を記載（すべての画素数に適応）。　*/
body {
	background-color: #b0c4de;
	word-wrap: break-word;
	overflow-wrap: anywhere;
	margin: 0;
	padding: 0;
}

p, a{
	padding-left: 5px;
}

main{
	padding-left: 50px;
	padding-right: 50px;
}
@media(max-width: 768px){
	main{
		padding-left: 10px;
		padding-right: 10px;
	}
}
	
ul, li{
	list-style: none;
}

/*　ヘッダーの情報を記載。（すべての画素数に適応。一部パソコン幅のみに関係）　*/
header{
	height: 65px;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	position: fixed;
	top:0px;
	z-index: 10;
	backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

header img{
	height: 65px;
	width: 130px;
	text-align: left;
	float: left;
	padding-right: 25px
}

/* チェックボックスは非表示 */
.menu-toggle {
  display: none;
}

/* ハンバーガーボタン */
.menu-btn {
  width: 65px;
  height: 65px;
  cursor: pointer;
  background: url("../imgs/menu_btn_cl.png") no-repeat center center / cover;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 20;
}

/* チェック時に × アイコンへ切り替え */
.menu-toggle:checked + .menu-btn {
  background: url("../imgs/close_btn_cl.png") no-repeat center center / cover;
}

/* メニュー（デフォルト非表示） */
.nav {
  display: none;
  background: #444;
  margin-top: 60px; /* ボタンの下に余白をつける */
}

/* チェック時のみ表示 */
.menu-toggle:checked ~ .nav {
  display: block;
}

/* メニューデザイン */
.nav ul li {
  border-top: 1px solid #555;
}

.nav ul li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}

.nav ul li a:hover {
  background: #666;
}

/*　ヘッダーの情報を記載（タブレットの画素数を想定）。　*/
@media(max-width: 1000px){
	header{
		height: px;
	}
	header img{
		height: px;
		width: px;
	}
	.header-left{
		 padding-right: ;
	 }
	.header-right a{
	font-size: px;
	padding: px px px px;
	} 
}

/*　ヘッダーの情報を記載（スマートフォンの画素数を想定）。　*/
@media(max-width: 768px){
	header{
		background-color: rgba(0, 0, 255, 0.4);
	}
	header img{

	}
	.header-left{
		 padding-right: 20px;
	 }
}

/*　各内容のタイトルの情報を記載。（すべての画素数に適応）　*/
h1{
	font-size: 40px;
	text-align: center;
	color: #fff;
	background-color: #006699;
	border-radius: 25px;
}

/*　「お問合せ」の部分の情報を記載（すべての画素数に關係。一部パソコン幅のみに關係）。　*/
.mail{
	padding-left: 100px;
	color: blue;
	font-size: 30px;
}

/*　「お問合せ」の部分の情報を記載（タブレットの画素数を想定）。　*/
@media(max-width: px){
	.
}

/*　「お問合せ」の部分の情報を記載（スマートフォンの画素数を想定）。　*/
@media(max-width: 1200px){
	.mail{
		font-size: 20px;
	} 
}

/*　ページ全体に關係する情報を記載（すべての画素数に適応）。　*/
body{
	background-color: #b0c4de;
}


/*
現在、抜いているが、今後復帰する際に参考となるコード達

.main-aboutkizunakouryu h2{
	width: 700px;
}

.main-katsudo h2{
	width: 400px;
}

.main-otoiawase h2{
	width: 180px;
}

➀｛
background-color: #7db3aa;
	width: 930px;
	border-radius: 20px;
｝

➁｛
	background-color: #fc9b9b;
	width: 980px;
	border-radius: 20px;
｝

➂｛
	background-color: #759852;
	width: 850px;
	border-radius: 20px;
｝

➃｛
	background-color: #ab9249;
	width: 860px;
	border-radius: 20px;
｝

*/












































