/*　CSSでは、HTMLで記載した内容の色付けなど、見た目の情報を記載。　*/

/*　ヘッダーの情報を記載。（すべての画素数に適応。一部パソコン幅のみに関係）　*/
header{
	height: 65px;
	background-color: #555;
	position: fixed;
	top:0px;
	z-index: 10;
}

header img{
	height: 65px;
	width: 130px;
}

.header-left{
	text-align: left;
	float: left;
	padding-right: 25px
}

.header-right{
	float: left;
}

 .header-right a{
	font-size: 25px;
	padding: 12px 10px;
}

header a{
	text-decoration: none;
	color:#fff;
}

.menu_btn{
	width: 65px;
	height: 65px;
	background: url("../../../imgs/menu_btn.jpg") no-repeat;
	background-size: 100% 100%;
	position: fixed;
	top: 0px; right: 0px;
	z-index: 15;
}


/*　ヘッダーの情報を記載（タブレットの画素数を想定）。　*/
@media(max-width: 1000px){
	header{
		height: px;
	}
	header img{
		height: px;
		width: px;
	}
	.header-left{
		 padding-right: ;
	 }
	.header-right a{
	font-size: px;
	padding: px px px px;
	} 
}

/*　ヘッダーの情報を記載（スマートフォンの画素数を想定）。　*/
@media(max-width: 1200px){
	header{
		height: 100px;
		background-color: blue;
	}
	header img{
		height: 100px;
		width: 200px;
	}
	.header-left{
		 padding-right: 20px;
	 }
	.header-right a{
	    font-size: 20px;
		padding-top: 25px;
		padding-left: 15px;
	}
	.menu_btn{
		width: 100px;
		height: 100px;
	}
}


/*　タイトルの情報を記載。（すべての画素数に適応）　*/
h1{
	font-size: 40px;
	text-align: center;
	color: #fff;
	background-color: #006699;
	border-radius: 25px;
}

/*　内容の情報　*/
.top-img{
	width: 50%;
	height: auto;
}

.sub-img{
	height: 150px;
	width: auto;
}


/*　「お問合せ」の部分の情報を記載（すべての画素数に關係。一部パソコン幅のみに關係）。　*/
.mail{
	padding-left: 100px;
	color: blue;
	font-size: 30px;
}

/*　「お問合せ」の部分の情報を記載（タブレットの画素数を想定）。　*/
@media(max-width: px){
	.
}

/*　「お問合せ」の部分の情報を記載（スマートフォンの画素数を想定）。　*/
@media(max-width: 1200px){
	.mail{
		font-size: 20px;
	} 
}

/*　ページ全体に關係する情報を記載（すべての画素数に適応）。　*/
body{
	background-color: #b0c4de;
}


